@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono&display=swap');

body {
	background: #282a36;
	font-family: 'JetBrains Mono', monospace;
	zoom: 110%;
}

a {
	text-decoration: none;
}

.center {
	display: flex;
	flex-direction: column;
	margin: 10px auto;
	margin-top: 20px;
	width: 80%;
	text-align: center;
	justify-content: center;
	align-items: center;

}

@media screen and (max-width: 1000px) {

	.center {
		display: flex;
		flex-direction: column;
		margin: 10px auto;
		margin-top: 20px;
		width: 100%;
		text-align: center;
		justify-content: center;
		align-items: center;
	}
	
}

.tools {
	display: flex;
	flex-direction: row;
	justify-content: space-evenly;
	align-items: center;
	flex-wrap: wrap;
}

.spacer {
	background-color: #44475a;
	width: 100px;
	height: 5px;
	border-radius: 5px;	
}

.skill_container {
	margin: 0 auto;
	padding: 10px;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	width: 90%;
	margin-bottom: 20px;
}

.skill {
	display: flex;
	border-radius: 10px;
	margin: 5px;
	width: 15%;
	height: 50px;
	justify-content: center;
	align-items: center;
	box-shadow: 0px 10px 21px -12px rgb(0 0 0 / 75%);
	background: linear-gradient(160deg, #ff79c6, rgba(0, 0, 0, 0));
	animation: clear 2s linear infinite;
	transition: all 0.3s linear;
}

.skill p {
	color: #f8f8f2;
	font-size: 20px;
	margin: 5px;
}

.skill:hover {
	cursor: pointer;
	transform: translateY(-5px) scale(1.1) rotate(-5deg);
	background: #ff79c6;
	box-shadow: 0px 49px 36px 24px rgba(0,0,0,0.41);
	-webkit-box-shadow: 0px 49px 36px 24px rgba(0,0,0,0.41);
	-moz-box-shadow: 0px 49px 36px 24px rgba(0,0,0,0.41);
}

@media screen and (max-width: 500px) {
	.skill .long {
		font-size: 15px;
		font-weight: 600;
	}
	.skill_container {
		width: 100%;	
	}
	.skill {
		width: 50%;
		flex: 1 1 25%;
	}
	.skill p {
		font-size: 17px;
	}
	.repo #description {
		display: none;
	}
}
.title {
	background: linear-gradient(150deg, rgba(189,147,249,0.4) 10%, rgba(189,147,249,1) 100%);
	-webkit-background-clip: text;
	background-clip: text;
	  -webkit-text-fill-color: transparent;
	padding-top: 5px;
	padding-bottom: 5px; 
	font-size: 25px;
	animation: smooth-shake 4s ease-in-out infinite;
	width: 100%;
}

.tool_container {
	display: flex;
	justify-content: space-around;
	flex-direction: column;
}

@-webkit-keyframes clear {
	0%{background-position:83% 0%}
	50%{background-position:18% 100%}
}
@keyframes clear {
	0%{background-position:83% 0%}
	50%{background-position:18% 100%}
}

.about {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap-reverse;
	justify-content: space-around;
}

.description {
	color: #f8f8f2;
	font-size: 20px;
}

.text {
	display: flex;
	flex-direction: column;
	width: 100%;
}

.text #welcome {
	font-size: 27px;
	width: 100%;
	padding-bottom: 30px;
}

.text #name {
	display: inline-block;
	color: #ff79c6;
	transition: all 0.5s ease;
	font-weight: bold;
}

.text #name:hover {
	cursor: pointer;
	transform: translateY(-5px) rotate(-350deg) scale(1.2)

}

.profile {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-self: center;
}

.profile img {
	height: 128px;
	width: 128px;
	border-radius: 100%;
	animation: smooth-shake 7.5s ease-in-out infinite;
}

.profile #status {
	display: flex;
	align-content: center;
	justify-content: center;
	width: 150px;
	height: 150px;
	border-radius: 30% 70% 70% 30%/30% 30% 70% 70%;
	animation-duration: 15s;
	animation-timing-function: ease-in-out;
	animation-delay: 0s;
	animation-iteration-count: infinite;
	animation-direction: normal;
	animation-fill-mode: none;
	animation-play-state: running;
	animation-name: morphing;
	overflow: visible;
}

.profile #info {
	display: flex;
	flex-direction: column;
	font-size: 25px;
	color:#f8f8f2;
}

.profile #info #tag {
	color: #50fa7b;
}

.profile #info #spt {
	font-size: 15px;
	opacity: 0.8;
}

.footer {
	display: flex;
	align-items: center;
	justify-content: center;
	margin: 10px;
	height: 65px;
	width: 90%;
	border-radius: 20px;
	background: rgba(21,22,25, 0.7);
}

#footer_content {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: row;
	margin-top: 5px;
	margin-bottom: 5px;
}

#footer_love {
	color: #fb3640;
	font-size: 18px;
	font-weight: bold;
	text-shadow: 0 0 20px #fb3640;
}

.footer p {
	color: #f8f8f2;
}

#x11 {
	margin-left: 10px;
}


#footer_github {
	color: #bd93f9;
	text-shadow: 0 0 20px #bd93f9;
}

.repo .star {
	width: 15px;
	height: 15px;
}

.github_container {
	display: flex;
	border-radius: 25px;
	flex-wrap: wrap;
	justify-content: center;
	flex: 1 1 25%;
	margin-right: 5%;
	   margin-left: 5%;
}

.repo {
	-webkit-box-flex: 1;
	-ms-flex: 1 1 25%;
	flex: 1 1 25%;
	width: auto;
	margin: 10px;
	background-color: #292b42;
	border-radius: 15px;
	height: auto;
	-webkit-transition: 250ms;
	padding: 15px;
	padding-left: 20px;
	padding-right: 20px;
	-webkit-box-shadow: 0px 10px 21px -12px rgb(0 0 0 / 75%);
	box-shadow: 0px 10px 21px -12px rgb(0 0 0 / 75%);	
	color: #f8f8f2;
	background: linear-gradient(160deg, #4895ef, rgba(72, 149, 239, 0.2) 99%);
	transition: all 0.3s linear;
}

.repo:hover {
	transform: scale(1.1) translateY(-15px);
	-webkit-box-shadow: 0px 10px 21px -12px rgb(0 0 0 / 75%);
	box-shadow: 0px 50px 50px -12px rgb(0 0 0 / 75%);
}

.repo_top {
	padding:10px;
	color:#fff0f3;
}

.repo_top #repo_name {
	font-size: 20px;
}

.repo_top #stars {
	margin-right: 10px;
	color: #f1fa8c;
	font-size: 20px;
	margin-left: 10px;
}

.repo_top #star_svg {
	fill: #f1fa8c;
	width: 20px;
	height: 20px;
}

#description {
	padding-bottom: 10px;
}

.github_container .github_title {
	color: #50fa7b;
	padding-top: 5px;
	padding-bottom: 5px; 
	font-size: 20px;
	animation: smooth-shake 5s ease-in-out infinite;
	width: 100%;
}


.modal {
	position: fixed;
	display: flex;
	justify-content: center;
	align-items: center;
	top:0;
	left:0;
	bottom:0;
	right:0;
	backdrop-filter: blur(10px);

	z-index: 9998;
	width: 100%;
	height: 100% !important;
	margin: 0;
	padding: 0;
}
.modal .presence {
	display: flex;
	justify-content: space-around;
	align-items: center;
	flex-direction: column;
	background: #003049;
	border: 20px solid #003049;
	border-radius: 30px;
	animation: smooth-shake 3s ease-in-out infinite;
}

#cover img {
	width: 256px;
	height: 256px;
	border-radius: 30%;
}

#name, #text2, #text3 {
	color: #f8f8f2;
	font-size: 20px;
}

#text2 {
	color: #e76f51;
}

#text3 {
	color: #2a9d8f;
}


.scale {
	transition: all 0.3s linear;
}

.scale:hover {
	transform: scale(1.1) translateY(5px);
}

.hover-underline {
	display: inline-block;
	position: relative;
}
      
.hover-underline:after {
	content: '';
	position: absolute;
	width: 100%;
	transform: scaleX(0);
	height: 4px;
	bottom: 0;
	left: 0;
	background:  rgba(80,250,123,1);
	transform-origin: bottom right;
	transition: transform 0.3s ease-out;
	box-shadow: 10px 10px 5px rgba(0, 0, 0, 0.5);
}
      
.hover-underline:hover:after {
	transform: scaleX(1);
	transform-origin: bottom left;
}

#links {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
}

#links #devto, #links #github, #links #discord{
	width: 30px;
	margin: 5px;
	fill:#f8f8f2;
	transition: all 0.3s linear;
}

#links #devto:hover, #links #github:hover, #links #discord:hover{
	transform: scale(1.15) translateY(-7px) rotate(15deg);
	cursor: pointer;
	fill: rgba(80,250,123,1);
}

/* width */
::-webkit-scrollbar {
	width: 10px;
}
      
/* Track */
::-webkit-scrollbar-track {
	background: transparent;
}
      
/* Handle */
::-webkit-scrollbar-thumb {
	border-radius: 10px;
	background: #44475a;
}

/* Animations */

@keyframes morphing {
	0% {
		border-radius: 30% 70% 70% 30%/30% 30% 70% 70%;
		-webkit-box-shadow: 15px 15px 50px rgba(0, 0, 0, 0.2);
		box-shadow: 15px 15px 50px rgba(0, 0, 0, 0.2);
	}
	25% {
		border-radius: 58% 42% 75% 25%/76% 46% 54% 24%;
	}
	50% {
		border-radius: 50% 50% 33% 67%/55% 27% 73% 45%;
		-webkit-box-shadow: -10px -5px 50px rgba(0, 0, 0, 0.2);
		box-shadow: -10px -5px 50px rgba(0, 0, 0, 0.2);
	}
	75% {
		border-radius: 33% 67% 58% 42%/63% 68% 32% 37%;
	}
}
@keyframes smooth-shake {
	0%,
	to {
		-webkit-transform: translateY(5px);
		transform: translateY(10px);
	}
	50% {
		-webkit-transform: translateY(-10px);
		transform: translateY(-5px);
	}
}

@-webkit-keyframes rotating /* Safari and Chrome */ {
	from {
	  -webkit-transform: rotate(0deg);
	  -o-transform: rotate(0deg);
	  transform: rotate(0deg);
	}
	to {
	  -webkit-transform: rotate(360deg);
	  -o-transform: rotate(360deg);
	  transform: rotate(360deg);
	}
}
@keyframes rotating {
	from {
	  -ms-transform: rotate(0deg);
	  -moz-transform: rotate(0deg);
	  -webkit-transform: rotate(0deg);
	  -o-transform: rotate(0deg);
	  transform: rotate(0deg);
	}
	to {
	  -ms-transform: rotate(360deg);
	  -moz-transform: rotate(360deg);
	  -webkit-transform: rotate(360deg);
	  -o-transform: rotate(360deg);
	  transform: rotate(360deg);
	}
}
.rotating {
	-webkit-animation: rotating 2s linear infinite;
	-moz-animation: rotating 2s linear infinite;
	-ms-animation: rotating 2s linear infinite;
	-o-animation: rotating 2s linear infinite;
	animation: rotating 2s linear infinite;
}

/* FALLBACK CSS */
.fallback {
	margin-top: 20%;
	display: flex;
	justify-content: center;
	text-align: center;
	align-items: center;
	flex-direction: column;
}
.fallback h1 {
	color: #3aafb9;
}